@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
body,
html {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
html {
  font-size: 16px;
  color: #1e1e1e;
}

html {
  --scrollbar-width: 10px;

  --bnb-primary: #213458;
}

// Scrollbars
html {
  scrollbar-color: var(--bnb-primary) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bnb-primary);
    border-radius: 10px;
    border: 1px solid var(--bnb-primary);
  }
}
